body {
    background-color: rgb(230, 253, 255);
    max-width: 226px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    
}
.calculator {
    font-family: 'Roberta', 'Calibri', 'Arial', sans-serif;
    font-size: 48px;
    padding: 8px;
    background-color: gray;
    border-radius: 5px;
}
h1 {
    text-align: center;
    font-family: 'Ubuntu', 'Roberta', 'Calibri', 'Arial', sans-serif;
}
.numberDisplay {
    border: 1px solid gray;
    background-color: white;
    text-align: right;
    font-weight: 800;
}
.buttonSet {
    border: 1px solid gray;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    font-size: 0; /* remove whitespace */
}
.buttonSet button {
    margin: 1px;
    width: 50px;
    height: 50px;
    background-color: azure;
    font-size: 24px;
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
}
#clear
{
    background-color: orange;
    color: white;
}
#plus, #minus, #mult, #divide {
    background-color: skyblue;
    color: white;
}
#equal {
    background-color: greenyellow;
}